.cardSkill {
  padding: 1rem;
  background-color: rgb(46, 45, 45);
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 18px;
}

.rowData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 8px;
}

.cardSkill p {
  font-family: 'Courier New', Courier, monospace;
}

.cardSkill h2 {
  font-family: 'Courier New', Courier, monospace;
}